body {
  font-family: sans-serif;
}
ul {
  list-style: none;
}
.container {
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
}

.header {
  background-color: rgb(41, 72, 107);
  margin: 0 auto;
}
.form {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  font-size: 10px;
  color: aqua;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
}

.cards__item {
  width: auto;
  height: auto;
  padding: 15px;
  background-color: rgb(56, 56, 148);
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 10px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 2px 2px 19px 12px rgba(82, 130, 167, 0.2);
}

.cards {
  transform: rotateY(360deg);
}

.text__item {
  font-size: 10px;
  text-align: center;
}

.btn-serch {
  margin-left: 10px;
  background-color: rgb(51, 97, 139);
  border-radius: 4px;
  border-radius: inherit;
  border: none;
  color: aliceblue;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 250ms linear;
}

.btn-serch:hover {
  background-color: rgb(52, 52, 122);
}

.btn {
  width: 150px;
  height: 33px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

  transition: background-color 250ms linear;

  position: relative;
}

.btn.is-hidden {
  display: none;
}

.btn .spinner .is-hidden {
  display: none;
}

/* .load-more:hover {
  background-color: rgb(52, 52, 122);
} */

/* .label {
  display: none;
} */

.spinner {
  position: absolute;
  left: 6px;
  bottom: 6px;
}
